<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li
        *ngFor="let item of menus"
        nz-submenu
        [nzTitle]="item.title"
        [nzIcon]="item.icon"
        [routerLink]="[item.path]"
        (click)="selectedMenu(item)"
      >
        <ul *ngIf="!showChild(item.listChildren)">
          <li
            *ngFor="let itemChild1 of item.listChildren"
            nz-menu-item
            [routerLink]="[itemChild1.path]"
            (click)="selectedMenu(itemChild1)"
          >
            {{ itemChild1.title }}
          </li>
        </ul>

        <ul *ngIf="showChild(item.listChildren)">
          <li
            *ngFor="let itemChild1 of item.listChildren"
            nz-submenu
            [nzTitle]="itemChild1.title"
            [routerLink]="[itemChild1.path]"
            (click)="selectedMenu(itemChild1)"
          >
            <ul *ngIf="itemChild1.listChildren">
              <li
                *ngFor="let itemChild2 of itemChild1.listChildren"
                nz-menu-item
                [routerLink]="[itemChild2.path]"
                (click)="selectedMenu(itemChild2)"
              >
                {{ itemChild2.title }}
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item>{{ pageName }}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
