<div nz-row style="margin-bottom: 5px">
  <div nz-col nzSpan="24">
    <app-button
      [icon]="'plus'"
      [type]="'add'"
      [title]="'Tạo mới'"
      (click)="addShop()"
    >
    </app-button>
    <app-button
    [icon]="'edit'"
    [type]="'edit'"
    [title]="'Chỉnh sửa'"
    (click)="editShop()"
    [isShow]="isShowBtnEdit"
  >
  </app-button>
    <app-button
      [icon]="'delete'"
      [type]="'delete'"
      [title]="'Xóa'"
      (click)="deleteShop()"
      [isShow]="isShowBtnDelete"
    >
    </app-button>
  </div>
</div>

<app-kendo-grid
  [urlGrid]="urlGrid"
  [columnSettings]="columnOvertime"
  [pageSize]="10"
  (selectionChange)="selectionChange($event)"
  (reloadGridChange)="reloadGridChange($event)"
  [isReload]="isReloadGrid"
>
</app-kendo-grid>
