.btn-custom {
  margin-right: 4px;
}

.btn-filter {
  color: #fff;
  // border-color: #f39619;
  // background: #f39619;
}

.btn-add {
  color: #fff;
  border-color: #00b39c;
  background: #00b39c;
}

.btn-edit {
  color: #fff;
  border-color: #f39619;
  background: #f39619;
}

.btn-send-mail {
  color: #fff;
  border-color: #0058e9;
  background: #0058e9;
}

.btn-cancel {
  color: #fff;
  border-color: #f31700;
  background: #f31700;
}

.btn-delete {
  color: #fff;
  border-color: #f31700;
  background: #f31700;
}

.btn-close-drawer {
  color: rgba(0, 0, 0, 0.85);
  border-color: #ebebeb;
  background: white;
}

.btn-save {
  color: rgba(0, 0, 0, 0.85);
  border-color: #f1f1f1;
  background: #f1f1f1;
  border: dotted 1px rgba(0, 0, 0, 0.85);
}

.btn-submit {
  color: white;
  border-color: #1890ff;
  background: #1890ff;
}
