<form
  nz-form
  [nzAutoTips]="autoTips"
  [formGroup]="validateFormAddOrEdit"
  (ngSubmit)="save()"
>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" labelAlign="left" nzRequired
      >Tên sản phẩm</nz-form-label
    >
    <nz-form-control [nzSpan]="14" nzValidatingTip="Validating...">
      <input nz-input formControlName="Name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Đơn giá</nz-form-label>
    <nz-form-control [nzSpan]="14" nzValidatingTip="Validating...">
      <input nz-input formControlName="Price" type="number"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6">Cửa hàng</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select
        [(ngModel)]="selectedShop"
        formControlName="ShopName"
        [compareWith]="compareShop"
        nzAllowClear
        nzPlaceHolder="Vui lòng chọn..."
      >
        <nz-option
          *ngFor="let shop of listShop"
          [nzValue]="shop"
          [nzLabel]="shop.label"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="close()">Hủy</button>
  <button
    nz-button
    nzType="primary"
    (click)="save()"
    [nzLoading]="isLoadingSave"
  >
    Lưu
  </button>
</div>
